<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Black Jack Game</title>
    <!--<script src="js/jquery-2.2.3.min.js"></script>-->
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid ">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        <div class="row">
            <h1> Black jack!!</h1>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Карты крупе</h3>
                </div>
                <div id="croupierCards">
                    <canvas class="card gradient-pattern"></canvas>
                    <canvas class="card gradient-pattern"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Карты пользователя</h3>
                </div>
                <div id="userCards">
                    <canvas class="card gradient-pattern"></canvas>
                    <canvas class="card gradient-pattern"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Доступные действия</h3>
                </div>
                <div id="actions">
                    <button id="hitCard" class="btn btn-default">hit</button>
                    <button class="btn btn-default">stand</button>
                    <input id="startGame" type="button" class="btn btn-success" value="Start new game"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Logger</h3>
                </div>
                <div id="logger">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/blackJackJQuery.js}"></script>
</body>
</html>